{% extends 'layouts/main.html' %}
{% block title %}Login{% endblock %}
{% block content %}
  <form method="post" class="form">
    {{ form.csrf_token }}
    <h3 class="form-heading">Login</h3>
    {{ form.jabber_id(class_ = 'form-control first-input',
                      placeholder = form.jabber_id.label.text, required = true, autofocus = true) }}
    {{ form.password(class_ = 'form-control last-input',
                     placeholder = form.password.label.text, required = true) }}
    <input type="submit" value="Submit"
           class="btn btn-primary btn-lg btn-block">
  </form>
{% endblock %}
