{% extends 'layouts/main.html' %}
{% block title %}Login{% endblock %}
{% block content %}
  <form method="post" class="form" action="/metadata">
    {{ form.csrf_token }}
    <h3 class="form-heading">Metadata</h3>
    <img src="{{ config['UPLOAD_DIR_EXTERNAL'] + '/' +  form.md5.data }}/cover" />
    <label for="title">Titre</label>
    {{ form.title(class_ = 'form-control',
                  required = true) }}
    <label for="title">Auteurs</label>
    {{ form.authors(class_ = 'form-control',
                    required = true) }}
    {#      <label for="title">Tags</label>#}
    {#        {{ form.tags(class_ = 'form-control',#}
    {#                     required = true) }}#}
    <label for="summary">Résumé</label>
    {{ form.summary(class_ = 'form-control') }}
    <label for="review">Avis</label>
    {{ form.review(class_ = 'form-control',
                   required = true) }}
    {{ form.md5(required = true) }}
    {{ form.file_name(required = true) }}
    {{ form.isbn() }}
    <input type="submit" value="Submit"
           class="btn btn-primary btn-lg btn-block">
  </form>
{% endblock %}
