{% extends 'layouts/main.html' %}
{% block title %}Envoyer un livre{% endblock %}
{% block content %}
  <form method="post" class="form" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <h3 class="form-heading">Envoyer un fichier</h3>
    {{ form.book_file(class_ = 'form-control',
                      placeholder = form.book_file.label.text,
                      required = true,
                      autofocus = true) }}
    <input type="submit" value="Envoyer"
           class="btn btn-primary btn-lg btn-block">
  </form>
{% endblock %}
