/**
 * @file
 * Main stylesheet file.
 */

html {
  overflow-y: scroll;
}

a {
  cursor: pointer;
}

::selection {
  background: #555;
  color: #FFF;
}

::-moz-selection {
  background: #555;
  color: #FFF;
}

::-webkit-selection {
  background: #555;
  color: #FFF;
}

.ebook-details-cover {
  width: 200px;
  float: right;
}