<!doctype html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>

  <!-- meta -->
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- /meta -->

  <!-- styles -->
  <link type="text/css" rel="stylesheet"
        href="/static/css/font-awesome-4.1.0.min.css"/>
  <link type="text/css" rel="stylesheet"
        href="/static/css/bootstrap-3.1.1.min.css">
  <link type="text/css" rel="stylesheet"
        href="/static/css/bootstrap-theme-3.1.1.min.css"/>
  <link type="text/css" rel="stylesheet" href="/static/css/layout.main.css"/>
  <link type="text/css" rel="stylesheet" href="/static/css/main.css"/>
  <link type="text/css" rel="stylesheet"
        href="/static/css/main.responsive.css"/>
  <link type="text/css" rel="stylesheet"
        href="/static/css/main.quickfix.css"/>
  <!-- /styles -->

  <!-- favicons -->
  <link rel="shortcut icon" href="/static/ico/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="/static/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="/static/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72"
        href="/static/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed"
        href="/static/ico/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="/static/ico/favicon.png">
  <!-- /favicons -->

  <!-- scripts -->
  <script src="/static/js/libs/modernizr-2.8.2.min.js"></script>
  <!--[if lt IE 9]><script src="/static/js/libs/respond-1.4.2.min.js"></script>
    <![endif]-->
  <!-- /scripts -->

</head>
<body>

<!-- Wrap all page content here -->
<div id="wrap">

  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">E-book club</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li {% if request.endpoint == 'home' %} class="active" {% endif %}>
            <a href="{{ url_for('home') }}">Home</a>
          </li>
          <li {% if request.endpoint == 'ebooks' %} class="active" {% endif %}>
            <a href="{{ url_for('ebooks') }}">Ebooks</a>
          </li>
          <li {% if request.endpoint == 'users' %} class="active" {% endif %}>
            <a href="{{ url_for('users') }}">Utilisateurs</a>
          </li>
          <li {% if request.endpoint == 'upload' %} class="active" {% endif %}>
            <a href="{{ url_for('upload') }}">Upload</a>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          {% if current_user.is_authenticated %}
            <li><a>Connecté en tant que {{ current_user }}</a></li>
            <li><a href="{{ url_for('logout') }}">Se déconnecter</a></li>
          {% else %}
            <li><a href="{{ url_for('login') }}">Se connecter</a></li>
          {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <!-- Begin page content -->
  <main id="content" role="main" class="container">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-block alert-error fade in">
            <a class="close" data-dismiss="alert">&times;</a>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

  </main>

</div>

<div id="footer">
  <div class="container">
    <p>GNA &copy; All Rights Reserved.</p>
    {% block footer %}{% endblock %}
  </div>
</div>

<script type="text/javascript"
        src="/static/js/libs/jquery-1.11.1.min.js"></script>
<script>window.jQuery || document.write('<script type="text/javascript" src="/static/js/libs/jquery-1.11.1.min.js"><\/script>')</script>
<script type="text/javascript" src="/static/js/libs/bootstrap-3.1.1.min.js"
        defer></script>
<script type="text/javascript" src="/static/js/plugins.js" defer></script>
<script type="text/javascript" src="/static/js/script.js" defer></script>

</body>
