{% extends 'layouts/main.html' %}
{% block title %}Liste des e-books{% endblock %}
{% block content %}
  <img class="ebook-details-cover" src="{{ ebook.cover_url }}" />
  <h1>{{ ebook.title }}</h1>
  Ajouté le {{ ebook.date_added }} par {{ ebook.uploader }}
  {% for author in ebook.authors %}
    <h2>{{ author }}</h2>
  {% endfor %}
  <p><strong>Resumé&nbsp;: </strong> {{ ebook.summary }}</p>
  <strong>Avis</strong>
  <ul>
    {% for review in ebook.reviews %}
      {% if review.reviewer != current_user %}
        <li>
          Par {{ review.reviewer }}, le {{ review.date_submitted }}
          {% if review.date_modified %}
            (modifié le {{ review.date_modified }})
          {% endif %}
        </li>
        <p>{{ review.content }}</p>
      {% endif %}
    {% endfor %}
  </ul>
  <a href="{{ ebook.file }}">Télécharger</a>
  <form method="post" class="form" action="{{ url_for('review') }}">
    {{ form.content(class_ = 'form-control') }}
    {{ form.ebook_id() }}
    {{ form.review_id() }}
    {{ form.csrf_token }}
    <input type="submit" value="Soumettre/modifier mon avis"
           class="btn btn-primary btn-lg btn-block">
  </form>
{% endblock %}
