{% extends 'layouts/main.html' %}
{% block title %}Liste des e-books{% endblock %}
{% block content %}
  <ul>
    {% for ebook in ebooks %}
      <li>
        <a href="{{ ebook.url }}">{{ ebook.title }}</a>
        (le {{ ebook.date_added }} par {{ ebook.uploader }})
        <ul>
          {% for author in ebook.authors %}
            <li><a href="{{ author.url }}">{{ author }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <p>{{ ebook.summary }}</p>
    {% endfor %}
  </ul>
{% endblock %}
