{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>GNA E-book club</h1>
</div>
<p class="lead">Salut les trous du cul</p>

{% endblock %}
