{% extends 'layouts/main.html' %}
{% block title %}Liste des e-books{% endblock %}
{% block content %}
  <ul>
    {% for user in users %}
      <li>{{ user }}</li>
      <ul>
        <li>{{ user.uploaded_ebooks|length }} livre uploadé</li>
        <li>{{ user.reviews|length }} avis</li>
      </ul>
    {% endfor %}
  </ul>
{% endblock %}
