{% extends 'layouts/main.html' %}
{% block title %}Liste des e-books{% endblock %}
{% block content %}
  <h1>{{ ebook.title }}</h1>
  <h2>{{ ebook.author }}</h2>
  <p>{{ ebook.summary }}</p>
  <ul>
    {% for review in ebook.reviews %}
      <li>Par {{ review.reviewer }}</li>
      <p>{{ review.content }}</p>
    {% endfor %}
  </ul>
{% endblock %}
